.padding_lr_zero{
	padding-left:0;
	padding-right:0;
}
.event_head{
	margin-top:125px;
}
/* .event_home { */
    /* margin-bottom: 8%; */
/* } */
.event_home_b {
    margin-bottom: 8%;
}
.ta_center{
	text-align:center;
}.ta_left{
	text-align:left;
}.ta_right{
	text-align:right;
}
.event_bg_main {

}

.img_body_map {
    background-image: url(../images/ivent_6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 92% 0 1%;
}
.img_body_map_ticket {
    background-image: url(../images/ticket_bg_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
	padding: 73% 0 55%;
}
.img_body_map_ticket_2 {
    background-image: url(../images/ticket_bg_2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
	padding: 45% 0 55%;
	margin: 5% 0 5%;
}
.img_body_outline {
	background-image: url(../images/outline_bg_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 10% 0 11%;
    margin: 5% 0 5%;
}
.img_body_outline_2 {
	background-image: url(../images/outline_bg_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 10% 0 11%;
    margin: 5% 0 5%;
}

.box_d_img{
	height: 120px;
}
span.top_box_h_text{
	display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}
.top_box_h_text{
	position: relative;
    bottom: 20px;
}
.boxsectio {
    position: relative;
    bottom: 29px;
    margin-bottom: -30px;
}
.t_b_image {
    /* background: linear-gradient(180deg, rgba(228,194,36,1) 49%, rgba(220,221,221,1) 49%); */
    /* padding-bottom: 18%; */
}
.top_box_h_text_2{
	font-size: 13px;
    display: block;
    padding-top: 8px;
}
.boxsectio_2 {
    padding: 7px;
    background-color: #fff;
    font-size: 9px;
    height: 125px;
    word-wrap: break-word;
    overflow-wrap:break-word;
}
.boxsectio_2_1 {
    padding: 7px;
    background-color: #fff;
    font-size: 12px;
    height: 160px;
    word-wrap: break-word;
    overflow-wrap:break-word;
}
.top_box_h_tex_11{
	color: #000;
    font-weight: 600;
    display: block;
	margin-bottom: 2px;
}
.top_box_h_tex_11_1{
	color: #000;
    font-weight: 600;
    display: block;
	margin-bottom: 2px;
	font-size: 10px;
}
.top_box_h_tex_33 {
    font-size: 10px;
    font-weight: 600;
}
.top_box_h_tex_22 {
    font-size: 12px;
    display: block;
    color: #D39104;
    font-weight: 600;
}
.stores_row {
    margin: 0% 0 0%;
}
.stores_row:last-child {
    margin: 8% 0 0%;
	font-size: 15px;
}
section.map{
	width: 80%;
    margin: 0 auto;
    margin-top: 15%;
}section.map_2{
	width: 80%;
    margin: 0 auto;

}
.ticket_h_t{
	background-color: #233356;
    display: block;
    color: #fff;
    font-size: 28px;
    padding: 10px 0 10px;
	margin-bottom: 10%;
}
.map-t{
	color: #283754;
    font-size: 23px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}
.outline_text_row {
    margin: 2.5% 7% 0;
    border-bottom: 2px dotted #233356;
    padding-bottom: 2.5%;
}
.outline_text_row:last-child {
    margin: 2.5% 7% 0;
    border-bottom: 0;
    padding-bottom: 0%;
}
.outline_text_span,
.outline_text_span_2{
	font-size: 14px;
    color: #243357;
    font-weight: 600;
}
.box_d_img {
	width: 100%;
    height: 80%;
}
.submit_button{
	width: 107px;
    height: 70px;
    background-image: url(../images/submit_btn.png);
    background-size: 76% 76%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 0;
}
.back_button{
	width: 107px;
    height: 70px;
    background-image: url(../images/back_btn.png);
    background-size: 76% 76%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 0;
}
.confirm_button{
	width: 107px;
    height: 70px;
    background-image: url(../images/confirm_btn.png);
    background-size: 76% 76%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 0;
}
.top_button{
	width: 107px;
    height: 70px;
    background-image: url(../images/top_btn.png);
    background-size: 76% 76%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 0;
}
.form-check{
	margin-left: 20px;
	margin-top: 10px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: 7px;
}
.form-group {
    margin-bottom: 0rem;
}
.form_text_div{
	font-size: 18px;
    font-weight: 600;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f0f1f1;
    background-clip: padding-box;
    border: 1.5px solid #233356;
    border-radius: 0.4rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
  margin-top: 2px;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
    background: #233356;
}
.event_head img {
    max-height: 261px;
    width: 100%;
}
.event_head img {
    max-height: 261px;
    width: 100%;
}
.box{
	background:#25334E;
	color:white;
	float: left;
	 padding: 0 4px;
    border-radius: 11%;
	margin-right: 5px;
}
.f-left{
	float:left;
}
.nowrap{
	white-space:nowrap;
}
.img_body_wave img.cup_1_img {
    width: 68%;
}
.cup_num_1 {
    position: relative;
    right: 32%;
    bottom: -4px;
    color: #fff;
    font-weight: 800;
}
.cup_num {
    position: relative;
    right: 36%;
    bottom: -4px;
    color: #fff;
    font-weight: 800;
}
.cup_1_img{
	    width: 60%;
}
.cup_1 {
    display: block;
    position: relative;
    top: 39px;
    left: -37px;
}
.boxsectio_0 {
    position: relative;
    margin-top: -60px;
}
span.top_box_h_text {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    position: relative;
    top: -10px;
    font-weight: 800;
}
.box_d_img {
    position: relative;
    top: -25px;
    margin-bottom: -25px;
    z-index: -1;
    height: 145px;
	background: #fff;
}