@media only screen and (min-width: 1440px) {
		/* .slider_content h2 { */
		/* font-size: 51px!important;  */
	/* } */
	.slider_content a {
		position: relative;
		font-size: 20px;
	}
}
@media only screen and (min-width: 1300px) {
	.slider_content h2 {
    font-size: 51px!important;
	}
}
@media only screen and (max-width: 1300px) {
	
	.ref_d.ref_d_proto{
		margin-left:0px;
		margin-right: 0px;
	}
}
@media only screen and (min-width: 1024px) {
	.slider_content h2 {
    font-size: 35px;
	}
	.pimg{
		max-width: 14.2%!important;
	}
	.logo{
		display:none;
	}
	.navbar{
		display:block;
	}
	.mg-mobile{
		display:none;
	}
}
@media only screen and (max-width: 1023px) {
	.carousel-indicators {
    bottom: -20px;
	}
	.sticky img{
	max-width:100%;
}
	.sticky.menu {
    height: 100px;
}
	/* .logo_text{ */
		/* position: absolute; */
		/* width: 227px; */
		/* margin: 30px 0; */
	/* } */
	.sticky .logo_text{
		margin: 17px 0;
	}
	.sticky .three-bar {
		top: 11px;
	}
	
	.menu {
    height: 123px;
    padding-top: 6%;
}
	.tooling_col_2 {
		height: 500px;
	}
	.proto_demo_circle {
		width: 80%;
	}
	.logo{
		display:block;
		text-align: right;
	}
	.lang{
		display:none;
	}
	.navbar{
		display:none;
	}
	#main .topBox{
		width: 91%;
	}
	.mg-mobile{
		display:none;
	}
}
@media only screen and (min-width: 577px)and (max-width: 1365px){
	.topia_section4 p{
		margin-left:0px;
		font-size: 12px;
	}
	br.consists_br{
		display:none;
	}
	.topia_section4 h4 {
		font-size: 17px;
	}
}
@media only screen and (min-width: 1024px)and (max-width: 1299px){
	.main_menu ul li a {
			padding: 0 20px;
		}
	.lets_t_s {
		font-size: 10px;
	}
	.lets_t_our2 {
		position: absolute;
		right: -109px;
		z-index: 1;
		font-size: 42px!important
	}
}
@media only screen and (min-width: 767px)and (max-width: 991px){
	.ref_d.ref_d_proto {
		margin-left: 43px;
	}
	.ref_d.ref_d_con {
		margin-left: 43px;
	}
	.lets_t_our2 {
		position: absolute;
		right: -85px;
		z-index: 1;
	}
	.lets_t_s {
		font-size: 12px;
	}
	.ref_d_ourk{
		padding-left:50px;
	}
}
@media only screen and (min-width: 767px)and (max-width: 1150px){
	.slider_content a span {
    padding-left: 18px;
    font-size: 25px;
    line-height: 0;
}
	
	.lets_t {
		font-size: 30px;
	}
}
@media only screen and (min-width: 991px)and (max-width: 1023px){
	.footer_menu a {
		font-size: 13px;
	}
	
	.lets_t_our2 {
		position: absolute;
		right: -85px;
		z-index: 1;
		font-size: 36px;
	}
	.lets_t_s {
		font-size: 9px;
	}
}
@media only screen and (min-width: 575px)and (max-width: 991px){
		/* .slider_content h2 { */
			/* font-size: 30px!important; */
		/* } */
	.footer_menu a {
		font-size: 10px;
	}
	.pro_con p br {
		display: none;
	}
	.topia_section_con {
		margin-top: 15%;
	}
	.topia_section_con h2 {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.topia_section_con p {
		font-size: 14px;
	}
	.topia_section_con a {
		font-size: 14px;
	}
	.topia_section4 h4 {
		font-size: 20px;
	}
	.topia_section4 p {
		padding: 0px;
		font-size: 14px;
	}
	.solution_provider1 p {
		width: 80%;
	}
	.pro_con h2{
		font-size:37px;
	}
	
}
@media only screen and (min-width: 1600px) {
	.lets_t_our2 {
		font-size: 65px!important;
	}
}
@media only screen and (min-width: 768px) {
		.br_p{
		display:none;
	}
	.slider_content h2 {
    color: #fff;
    font-size: 27px;
    position: absolute;
    right: -16%;
    z-index: 999;
    bottom: 41%;
    font-family: "Poppins-Bold-ttf","Poppins-Bold-eot";
}
	.slider_content a {
    position: relative;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    top: 50px;
	border-bottom: 1px solid #fff;
}

	.logo_text .newlogo{
		display:none;
	}
}
@media only screen and (max-width: 767px) {
	.slider_content {
		height: 100%;
	}
	.con_2{
		padding-bottom: 30px;
	}
	.lets_one {
		z-index: 1;
	}
	.new_cir_row {
    margin-bottom: 6%;
}
	.Press_Forming {
    margin-top: 0;
	}
.jpen {
    font-size: 20px;
    padding-bottom: 55px;
    margin-top: 35px;
    padding-left: 59px;
	font-weight:bold;
	color:#1a3260;
}
	.con_slide_2 {
		width: 85%;
	}
	.con_slide_2_3 {
		width: 85%;
	}
	.con_slide_2_e {
		width: 85%;
	}
	.table_topia {
		padding-left: 40px!important;
		padding-right: 40px!important;
	}
	.table_topia_eng {
		padding-left: 40px!important;
		padding-right: 40px!important;
	}
	.abot_row .sales_ofc{
		text-align:left!important;
	}
	.has_been{
		padding-left: 30px!important;
		padding-right: 30px!important;
	}
	.ref_d.ref_d_con {
		margin-left: 30px;
	}
	.lets_one {
		align-items: left!important;
		justify-content: left!important;
	}
	.slider_content a {
    font-size: 13px;
	}
	.slider_content a span {
    padding-left: 32px;
    font-size: 20px;
    line-height: 0;
}
	.br_display{
		display:none;
	}
.sticky div .logo_text a .newlogo{
    margin-top: 4%;
    margin-left: 12%;
}
	
	.logo_text .old_logo{
		display:none;
	}
	.img_last_abt {
    margin-bottom: 10%;
}
	.lets_t_s {
		font-size: 10px;
	}
	.lets_t_our2{
		position:unset;
		font-size: 25px!important;
	}
	.ref_d_our{
		left:unset;
	}
	.carousel-indicators {
		bottom: -25px;
	}
		.next2,.next {
		right: -20px;
	}	
		.prev2,.prev {
		left: -20px;
	}
	.prev2, .next2,.prev, .next {
    top: 48%;
    width: 36px;
    padding: 3px 0 0 0px;
	}
		.all_br_e{
		display:none;
	}
	.effect_7{
		z-index: 1;
	}
	.ref_d.ref_d_proto{
		margin-left: 40px;
	}
	/* .three-bar{ */
		/* top: 2%; */
	/* } */
	/* .sticky .three-bar{ */
		/* top: 0px; */
	/* } */
	.prev, .next {
		top: 60%;
		font-size: 21px;
	}
	.prev2, .next2 {
		top: 60%;
		font-size: 21px;
	}
	 img.ping_a{
	 width: 100%;
	 }
	.lets_t {
		line-height: 1!important;
	}
	.head_row{
		display: flex;
		flex-direction: column-reverse;
	}
	.ref_d {
    position: relative;
	}
	.mySlides img {
    width: 100%;
    height: 180px;
	}
	.b_piller {
    font-size: 2em;
    color: #1a3260;
    font-weight: 600;
	}
	.some_text {
    padding: 11% 9%;
    text-align: center;
	}
	.circle_img{
		width: 100%;
	}
	body{
	font-size:13px;
}
	.pro_con {
		margin-top: 30px;
	}
	.mar_top {
		margin-top: 50px;
	}
	.solution_provider {
		margin-top: 50px;
	}
	.impressivelead3 {
		margin-top: 50px;
	}
	.slider_content {
		padding: 30px;
	}
	.slider_content h2 {
		color: #fff;
		font-size: 30px;
		right: -60px;
		z-index: 999;
		font-family:"Poppins-Bold-ttf","Poppins-Bold-eot";
	}
	.slider_content a {
		margin-top: 13px;
		font-size: 12px;
		color: #fff;
		border-bottom: 1px solid #fff;
		left: 16%;
		font-family: "Poppins-Bold-ttf","Poppins-Bold-eot";
		position: relative;
		left: 0;
		top: 15px;
	}
	.mg-mobile{
		display:block;
	}
	.top_1{
		background-image:none;
	}
	.top_2{
		background-image:none;
	}
	.top_3{
		background-image:none;
	}
	.top_4{
		background-image:none;
	}
	.top_5{
		background-image:none;
	}
	.b_content{
		margin-left: 22%;
	}
	.b_content_2{
			margin-left: 17%;
	}
	.ref_d_con {
		position: relative;
		z-index: 1;
		left: 0%;
		bottom: 22px;
	}
	.ref_d_eng {
		position: relative;
		z-index: 1;
		left: -4%;
		bottom: 22px;
	}
	.lets_2 {
		text-align: center;
		padding: 19% 8%;
		font-size: 15px;
		color: #000;
	} 
	.lets_2_con {
		text-align: center;
		padding: 19% 8%;
		font-size: 15px;
		color: #000;
	}
	.sales_head {
		font-size: 30px;
		margin-bottom: 2%;
	}
	.abot_row .sales_head {
		font-size: 30px;
		margin-bottom: 2%;
	}
	.abot_row .sh_about .sales_head{
		font-size: 30px;
		margin-bottom: 2%;
	}
	.abot_row .sales_ofc, .abot_row .sales_ofc_2 {
    padding: 5% 0px 10%;
}
	.sales_ofc,.sales_ofc_2 {
		padding: 5% 0px 10%;
	}
	.some_text_e {
		padding: 5% 2%;
	}
	.lets_t_low {
		font-size: 28px;
		font-weight: bold;
		line-height: 2;
		color: #fff;
		position: relative;
		left: 48px;
		bottom: 8px;
	}
	.some_text_low {
		padding: 10% 5%!important;
	}
	.lets_t_our{
		font-size: 30px!important;
	}
	.ref_d_our {
    position: relative;
    z-index: 1;
    left: 8%;
    bottom: 15px;
}
	.ref_d_proto {
		bottom: 23px;
	}
	.proto_b_0 {
		display: block;
		font-size: 13px;
		text-align: left;
		margin-bottom: 4%;
		padding-right: 0;
	}
	.proto_demo_circle {
    width: 70%;
	}
	.proto_b_blue {
  
		padding: 1px 3%;
		font-size: 13px;
	}
	.proto_b_sky {
		padding: 0 12%;
		font-size: 18px;
	}
	.tooling_col_2 {
    background-color: #ebebeb;
    text-align: center;
    height: 550px;
	margin-bottom: 15%;
	}
	.proto_b_sky_2 {
		font-size: 18px;
	}
	
}

@media only screen and (max-width: 575px) {

		.slider_content a {
    margin-top: 13px;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid #fff;
    left: 16%;
    font-family: "Poppins-Bold-ttf","Poppins-Bold-eot";
    position: relative;
    left: 0;
    top: 15px;
}
}
@media only screen and (min-width: 574px) {
	.br_top_1{
		display:none;
	}
	.br_prottotype{
		display:none;
	}
	.forborder {
		border-right: 1px solid;
	}
	.forborder1 {
		border-right: 1px solid;
	}
}
@media only screen and (max-width: 470px) {
	.slider_content h2 {
		font-size: 20px;
	}
	.consists_br{
		display:none;
	}
}
@media only screen and (max-width: 375px) {
	.lets_t {
		font-size: 39px;
	}
	.slider_content a {
    margin-top: 13px;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid #fff;
    left: 16%;
    font-family: "Poppins-Bold-ttf","Poppins-Bold-eot";
    position: relative;
    left: 0;
    top: 15px;
}
	.slider_content h2 {
    font-size: 17px;
	}
	.consists_br{
		display:none;
	}
	.topia_section4 p{
		margin-left:0px;
	}
	.proto_b_h {
		font-size: 18px;
	}
	.sidenav {
		width: 100%;
	}
	.jpen {
		font-size: 9px;
	}
	.footer_menu a{
		font-size:7px!important;
	}
}
@media only screen and (max-width: 575px) {
	
	.lets_one_1{
		border-top: 6px solid #b7b7b7;
	}
	.footer_menu a {
		font-size: 9px;
	}
	.metal_br{
		display:none;
	}
	.solution_provider5 a span {
		float: right;
	}
	.solution_provider4 a span {
		float: right;
	}
	.solution_provider3 a span {
		float: right;
	}
	.solution_provider2 a span {
		float: right;
	}
	.topia_section3W p{
		font-size:14px;
	}
	.topia_mar {
		margin-top: 20px;
	}
	.carousel-indicators {
		bottom: -35px;
	}

	.ta_center {
		font-size: 10px;
	}
	.solution_provider5 a, .solution_provider2 a, .solution_provider3 a, .solution_provider4 a{
		font-size: 15px;
	}
	.menu {
		height: 105px;
		padding-top: 10%;
	}
/* .logo_text { */
    /* width: 157px; */
    /* margin: 33px 0; */
/* } */
.three-bar{
	    top: 17px;
}
.sticky.menu {
    height: 80px;
}
.sticky .three-bar {
    top: 2px;
}
	.sticky .logo_text {
		margin: 13px 0;
	}
	.logo_text {
    width: 186px;
}
	.tooling_col_2 {
		background-color: #ebebeb;
		text-align: center;
		height: 450px;
		margin-bottom: 15%;
	}
	.proimge img {
		width: 90%;
		margin: 0 auto;
		display: table;
	}
	
	.pro_con p br {
		display: none;
	}
	.solution_provider1 p {
		width: 100%;
	}
	.pimg {
		margin-top: 20px;
	}
	.solution_provider1 h2{
		font-size:26px;
	}
	.pro_con h2{
		font-size:29px;
	}
	.solution_provider3 {
		margin-top: 30px;
	}
	.solution_provider h2 {
		font-size: 26px;
	}
	.impressivelead{
		padding-left:0px;
		padding-right:0px;
	}
	.forborder {
		border-bottom: 1px solid;
	}
	.forborder1 {
		border-bottom: 1px solid;
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.topia_section_con {
		margin-top: 6%;
	}
	.topia_section_con h2 {
		margin-bottom: 15px;
		font-size: 18px;
	}
	.topia_section img {
		width: 90%;
		margin: 0 auto;
		display: table;
	}
	.topia_section3W img {
		width: 50%;
		margin: 0 auto;
		display: table;
	}
	.topia_section3W p {
		margin-top: 30px;
	}
	.impressivelead {
		margin-top: 20px;
	}
	.topia_section4 p {
		padding-top: 0px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.topia_section4 h4 {
		padding-top: 30px;
		padding-bottom: 0px;
	}
}
@media only screen and (max-width: 550px) {
	
	#main .topBox{
		width: 100%;
	}
	#main .topBox ul{
		margin: 25% 0 0 12%;
	}
	#main .topBox li{
		padding-left: 9px;
	}
	#main .topBox h1{
		margin: 40% 0 0 12%;
	}
	.center-text{
		width:100%;
		text-align:center;
	}
	
}
@media only screen and (min-width: 1300px) {
	.lets_t_our2 {
		font-size: 59px;
		font-weight: bold;
		line-height: 0;
		color: #fff;
		right: -155px;
		position: absolute;
		z-index: 1;
		bottom: 70%;
	}
}

