<!DOCTYPE html>
<html lang="ja">
<head>
  <title>AWAMORI</title>
  <link rel="icon" href="" type=" type">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=11" />
  <link rel="stylesheet" href="++[sys_systemroot]../css/bootstrap.min.css">
  <link rel="stylesheet" href="++[sys_systemroot]../css/custom.css">
  <link rel="stylesheet" href="++[sys_systemroot]../css/style.css">
  <link rel="stylesheet" href="++[sys_systemroot]../css/responsive.css">
  <script src="++[sys_systemroot]../js/jquery.min.js"></script>
  <script src="++[sys_systemroot]../js/bootstrap.min.js"></script>
  <script src="++[sys_systemroot]../js/custom.js"></script>
  <!-- HEADTAG_START -->
  <!-- HEADTAG_END -->
<script type="text/javascript">
$(document).ready(function()
{
    $("#name").focus();
    
    // 都道府県
    var val_prefectures = "++[lcl_prefectures]";
    $("#prefectures").val([val_prefectures]);
    
    // 性別
    var val_sex = "++[lcl_sex]";
    $("#sex").val([val_sex]);
    
    // 年代
    var val_age = "++[lcl_age]";
    $("#age").val([val_age]);
    
});

</script>
</head>


<body style="background:#E4C224;">
	<!--header section start-->
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-md-12">
				<div class="container margih_top custom_container">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-3">
							<div class="top_img">
								<!--<img class="" src="++[sys_systemroot]../images/topcon.png" alt="">-->
							</div>
						</div>
						<div class="col-md-7"></div>
					</div>
					<!--<div class="row">
						<div class="col-md-9 col-9">
							<nav class="navbar navbar-default navbar-fixed-top">
								<div class ="main_menu">
									<ul>
										<li><a href="index.html#sec_5" class="ami1" href="">
										<img class="img-fluid mi1-hover mi-hover" src="images\mi1.png" alt="全体概要">
										<img class="img-fluid mi1 mi" src="images\mi1-hover.png" alt="全体概要">
										</a></li>
										<li><a href="index.html#sec_3" class="ami2" href="">
										<img class="img-fluid mi2-hover mi-hover" src="images\mi2.png" alt="参加店舗">
										<img class="img-fluid mi2 mi" src="images\mi2-hover.png" alt="参加店舗">
										</a></li>
										<li><a href="index.html#sec_3_1" class="ami3" href="">
										<img class="img-fluid mi3-hover mi-hover" src="images\mi3.png" alt="イベント＆キャンペーン">
										<img class="img-fluid mi3 mi" src="images\mi3-hover.png" alt="イベント＆キャンペーン">
										</a></li>
										<li><a href="index.html#sec_4" class="ami4" href="">
										<img class="img-fluid mi4-hover mi-hover" src="images\mi4.png" alt="チケット購入">
										<img class="img-fluid mi4 mi" src="images\mi4-hover.png" alt="チケット購入">
										</a></li>
										
									</ul>
								</div>
							</nav>
						</div>
						<div class="col-md-3 col-3">
						<nav class="navbar navbar-default navbar-fixed-top">
								<div class ="social_menu">
									<ul>
										<li><a href="www.facebook.com/">
										<img class="img-fluid" src="images\fb.png" alt="全体概要">
										</a></li>
										<li><a href="www.twitter.com/">
										<img class="img-fluid" src="images\image.png" alt="参加店舗">
										</a></li>
									</ul>
								</div>
							</nav>	
							<!-- <div class="fb_icn"> -->
								<!-- <a href="#"><img class="img-fluid" src="images/fb.png" class="jar_home" /></a> -->
							<!-- </div> -->
							<!-- <div class="tiwer"> -->
								<!-- <a href="#"><img class="img-fluid" src="images/image.png" class="jar_home" /></a> -->
							<!-- </div> -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
	<!--header section end-->
	

	<!--body section start 6-->
<section id="sec_6">	
	<div class="container-fluid">
		<div class="row">	
		   <div class="col-md-12 padding_ziro">
			<img class="img-fluid" src="++[sys_systemroot]../images/form_head_1.png" alt="イベント概要">
		   </div>
	   </div>
	</div>
	
	<div class="container-fluid">
		<div class="row img-bg-left">
			<div class="col-md-12 img-bg-right">
				<div class="container custom_container">
					<div class="row">
						<div class="col-md-12">
						<div class="img_body_outline_2">
							<form method="post" name="fdata" id="fdata" enctype="multipart/form-data" action="./check.php" >
								<div class="row outline_text_row">
									<div class="col-md-4 form_text_div">
										<label for="">氏名</label>
									</div>
									<div class="col-md-8 form_text_div form-group">
										<input class="form-control" type="text" name="name" id="name" value="++[lcl_name]">
									</div>
								</div>
								
								
								<div class="row outline_text_row">
									<div class="col-md-4 form_text_div">
										<label for="">性別</label>
									</div>
									<div class="col-md-2 form_text_div form-check">
										<input class="form-check-input" type="radio" name="sex" id="" value="1">男性
									</div>
									<div class="col-md-2 form_text_div form-check">
										<input class="form-check-input" type="radio" name="sex"  id="" value="2">女性
									</div>
								</div>
								
								
								<div class="row outline_text_row">
									<div class="col-md-4 form_text_div">
										<label for="">年代</label>
									</div>
									<div class="col-md-8 form_text_div form-group">
										<select class="form-control" name="age" id="age">
											<option value="" >選択してください</option>
											<option value="2" >20歳～</option>
											<option value="3" >30歳～</option>
											<option value="4" >40歳～</option>
											<option value="5" >50歳～</option>
											<option value="6" >60歳～</option>
										</select>
									</div>
								</div>
								
								<div class="row outline_text_row">
									<div class="col-md-4 form_text_div">
										<label for="">お住まいの地域</label>
									</div>
									<div class="col-md-8 form_text_div form-group">
										<select class="form-control" name="prefectures" id="prefectures">
											<option value="">選択してください</option>
                                            <option value="1">北海道</option>
                                            <option value="2">青森県</option>
                                            <option value="3">岩手県</option>
                                            <option value="4">宮城県</option>
                                            <option value="5">秋田県</option>
                                            <option value="6">山形県</option>
                                            <option value="7">福島県</option>
                                            <option value="8">茨城県</option>
                                            <option value="9">栃木県</option>
                                            <option value="10">群馬県</option>
                                            <option value="11">埼玉県</option>
                                            <option value="12">千葉県</option>
                                            <option value="13">東京都</option>
                                            <option value="14">神奈川県</option>
                                            <option value="15">新潟県</option>
                                            <option value="16">富山県</option>
                                            <option value="17">石川県</option>
                                            <option value="18">福井県</option>
                                            <option value="19">山梨県</option>
                                            <option value="20">長野県</option>
                                            <option value="21">岐阜県</option>
                                            <option value="22">静岡県</option>
                                            <option value="23">愛知県</option>
                                            <option value="24">三重県</option>
                                            <option value="25">滋賀県</option>
                                            <option value="26">京都府</option>
                                            <option value="27">大阪府</option>
                                            <option value="28">兵庫県</option>
                                            <option value="29">奈良県</option>
                                            <option value="30">和歌山県</option>
                                            <option value="31">鳥取県</option>
                                            <option value="32">島根県</option>
                                            <option value="33">岡山県</option>
                                            <option value="34">広島県</option>
                                            <option value="35">山口県</option>
                                            <option value="36">徳島県</option>
                                            <option value="37">香川県</option>
                                            <option value="38">愛媛県</option>
                                            <option value="39">高知県</option>
                                            <option value="40">福岡県</option>
                                            <option value="41">佐賀県</option>
                                            <option value="42">長崎県</option>
                                            <option value="43">熊本県</option>
                                            <option value="44">大分県</option>
                                            <option value="45">宮崎県</option>
                                            <option value="46">鹿児島県</option>
                                            <option value="47">沖縄県</option>
											<option value="48">海外</option>
										</select>
									</div>
								</div>
								
								<div class="row outline_text_row">
									<div class="col-md-4 form_text_div">
										<label for="">連絡先(電話番号)</label>
									</div>
									<div class="col-md-8 form_text_div form-group">
										<input class="form-control" type="text" name="tel" id="tel" value="++[lcl_tel]">
									</div>
								</div>
								
								
								<div class="row outline_text_row">
									<div class="col-md-4 form_text_div">
										<label for="">メールアドレス</label>
									</div>
									<div class="col-md-8 form_text_div form-group">
										<input class="form-control" type="text" name="mail" id="mail"  value="++[lcl_mail]">
									</div>
								</div>
								
								<div class="row outline_text_row">
									<div class="col-md-4 form_text_div">
										<label for="">バルチケット</br>申込枚数</label>
									</div>
									<div class="col-md-5 form_text_div form-group">
										2枚綴り(1,500円)
									</div>
									<div class="col-md-2 form_text_div form-group">
										<input class="form-control" type="text" name="ticket_qty" id="ticket_qty"  value="++[lcl_ticket_qty]">
									</div>
									<div class="col-md-1 ta-left form_text_div form-group">
										枚
									</div>
									
									
									<div class="col-md-4 form_text_div">
										<label for=""> </label>
									</div>
									<div class="col-md-5 form_text_div form-group">
										3枚綴り(2,100円)
									</div>
									<div class="col-md-2 form_text_div form-group">
										<input class="form-control" type="text" name="ticket_qty2" id="ticket_qty2"  value="++[lcl_ticket_qty2]">
									</div>
									<div class="col-md-1 ta-left form_text_div form-group">
										枚
									</div>
								</div>
								
								<div class="row outline_text_row">
									<div class="col-md-4 form_text_div">
										<label for="">お問い合わせ内容</label>
									</div>
									<div class="col-md-8 form_text_div form-group">
										<textarea class="form-control" rows="5" name="detail" id="detail">++[lcl_detail]</textarea>
									</div>
									<div class="col-md-12 ta_center form_text_div">
										<button class="submit_button"></button>
									</div>
								</div>	
								
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>		
<!--body section end 5-->
	
	
<!--footer section start-->
		<div class="container-fluid">
			<div class="row">	
			   <div class="col-md-12 padding_ziro">
				<img src="++[sys_systemroot]../images/footer_top_art.png" class="footer_near" />
			   </div>
		   </div>
	   </div>
		<div class="container-fluid">
		   <div class="row">
				<div class="col-md-12 padding_bg_c">
					<div class="container custom_container footer-section">
						   <div class="row footer_con_p">
								<div class="col-md-12 col-sm-12 col-12">
									<p>＜主催＞琉球びんがた泡盛ストリート実行委員会</p>
							   </div>
								<!--<div class="col-md-11 col-sm-10 col-10 for_padding1">
									<p></p>
							   </div>-->
						   </div>
						   <div class="row footer_con_p">
								<div class="col-md-12 col-sm-12 col-12">
									<p>＜協力＞一般社団法人琉球びんがた普及伝承コンソーシアム、沖縄県酒造組合、一般社団法人那覇市観光協会、株式会社パムコークリエーション</p>
							   </div>
								<!--<div class="col-md-11 col-sm-10 col-10 for_padding1">
									<p></p>
							   </div>-->
						   </div>
						   <div class="row footer_con_p">
								<div class="col-md-12 col-sm-12 col-12">
									<p>＜後援＞沖縄県、那覇市、一般財団法人沖縄観光コンベンションビューロー、一般社団法人 那覇大綱挽保存会、琉球放送株式会社</p>
							   </div>
								<!--<div class="col-md-11 col-sm-10 col-10 for_padding1">
									<p></p>
							   </div>-->
						   </div>
						   <!--<div class="row footer_con_p">	
								<div class="col-md-3">
									<p>＜バル参加店舗＞</p>
							   </div>
								<div class="col-md-9">
									<p>　_______、_______、________、_______、______など 国際通り界隈の飲食店およそ50店舗（予定）</p>
							   </div>
						   </div> 
						   <div class="row footer_con_p">	
								<div class="col-md-3">
									<p>＜バルチケット販売＞</p>
							   </div>
								<div class="col-md-9">
									<p>前売券 事前申し込みでお得になるチケットです。<br>・販売期間 9月9日（月）縲鰀10月11日（金） ・販売窓口 琉球びんがた泡盛ストリートのホームページよりお申し込みください。<br>
									・販売価格 笶ｶドリンク+おつまみセット券（2枚綴り）1,500円 笶ｷドリンク+おつまみセット券（3枚綴り）2,100円<br>当日券 当日、国際通り２会場で購入できるチケットです。<br>・販売期間 10月12日（土）～13日（日） ・販売窓口 バルチケット販売ブース（てんぶす館前広場、県庁前広場）
									<br>・販売価格 笶ｶドリンク+おつまみセット券（2枚綴り）1,600円 笶ｷドリンク+おつまみセット券（3枚綴り）2,400円</p>
							   </div>
						   </div>
						   <div class="row footer_con_p">	
								<div class="col-md-3">
									<p>＜主催＞</p>
							   </div>
								<div class="col-md-9">
									<p>琉球びんがた泡盛ストリート実行委員会</p>
							   </div>
						   </div> 
						   <div class="row footer_con_p">	
								<div class="col-md-3">
									<p>＜協力＞</p>
							   </div>
								<div class="col-md-9">
									<p>一般社団法人琉球びんがた普及伝承コンソーシアム、沖縄県酒造組合、一般社団法人那覇市観光協会（想定）、<br>那覇市なはまち振興課、一般社団法人 那覇大綱挽保存会、株式会社パムコークリエーション</p>
							   </div>
						   </div> 
						    <div class="row footer_con_p">	
								<div class="col-md-3">
									<p>＜後援＞</p>
							   </div>
								<div class="col-md-9">
									<p>沖縄県、一般財団法人沖縄観光コンベンションビューロー、琉球放送株式会社<br>琉球びんがた泡盛ストリート実行委員会（株式会社 新東通信、一般社団法人　琉球びんがた普及伝承コンソーシアム）</p>
							   </div>
						   </div>--> 
					   </div>
				   </div>
			   </div>
	</div>	
<!--footer section end-->	
</body>
</html>