@charset "Shift-jis";

/* ================================ */
/*       ˆÈ‰º€–Ú‚Ì‰¡•’è‹`—p       */
/* ================================ */
.tbl_list .displaynone
{
    display:none;
}
.tbl_list .select_area
{
    width:60px;
}
