<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
<!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.0/css/ionicons.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- vegas slider -->
<!-- HEADTAG_START -->
<!-- HEADTAG_END -->
<!-- icon -->
    
    <link rel="stylesheet" href="++[sys_systemroot]../css/master.css">
	<link rel="stylesheet" href="++[sys_systemroot]../css/faq.css">
    <link rel="stylesheet" href="++[sys_systemroot]../css/canvas.css">
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function()
{
    $("#init_focus").focus();

});

// 郵便番号の住所検索
function btn_zipcode_click()
{
    AjaxZip3.zip2addr("zipcode", "", "address", "address");
}

function btnBack_Click()
{
    location.href = "./index.php";
}

// お客様情報入力へ
function btnCheck_Click()
{
    document.fdata.method = "post";
    document.fdata.action = "./check.php";
    document.fdata.submit();
}
</script>
</head>
<body>

<!-- メニューバー開始 -->
    <div  class="header" id="header">
    <nav class="navbar navbar-expand-lg nav_custom">
            <div class="container" >
                <a class="navbar-brand" href="../index.html">
                    <img src="++[sys_systemroot]../images/logo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <!-- <span class="ion-android-menu"></span> -->
					<img src="image/mbotton.png" class="button_jd">
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link " href="++[sys_systemroot]../index.html">ホーム </span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="++[sys_systemroot]../reserve/">御予約はこちら</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="++[sys_systemroot]../second_page.html">仕出し弁当</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="++[sys_systemroot]../third_page.html">御法要の膳</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="++[sys_systemroot]../fourth_page.html">精進料理/点心</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="++[sys_systemroot]../seventh.html">パーティーオードブル</a>
                        </li>
    					<li class="nav-item">
                            <a class="nav-link" href="++[sys_systemroot]../all_products_list.html">全商品一覧</a>
                        </li>
    					<li class="nav-item">
                            <a class="nav-link " href="++[sys_systemroot]../faq.html">よくあるご質問</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="++[sys_systemroot]../fifth.html">配達の御案内</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="++[sys_systemroot]../sixth.html">会社概要</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<!-- メニューバー終了 -->
<div id="all">
    <div id="contents" >

    	<div id="reseve_message" >
        	<h2>ご注文</h2>
        	<p>お料理総額　10,000円（＋税）以上より承ります。</p>
            <p>2日後～2ヶ月後までの注文が可能です。</p>
        </div>
<!-- MESSAGEAREA_START -->
<!-- MESSAGEAREA_END -->
        <form method="post"  name="fdata" id="fdata" action="check.php">
        <div class="inquiryArea">
	            <form method="post" name="fdata" id="fdata" enctype="multipart/form-data">
	                <div class="fix">
	                    <div class="LeftArea_wmax">
	                        <table class="tblStyleInquiry">
	                        	<tbody><tr class="tbl_line"><th><hr></th><td><hr></td></tr>
	                            <tr>
	                                <th>氏 名<span class="red">※</span></th>
	                                <td><input type="text" name="name" id="init_focus" class="w300" value="++[lcl_name]" ><span class="ml20  init_focus">(例:山田　太郎)</span></td>
	                                
	                            </tr>
	                            <tr>
	                                <th>か な<span class="red">※</span></th>
	                                <td><input type="text" name="kana" id="init_focus" class="w300" value="++[lcl_kana]" ><span class="ml20 init_focus" >(例:やまだ　たろう)</span></td>
	                                
	                            </tr>
	                            <tbody><tr class="tbl_line"><th><hr></th><td><hr></td></tr>
	                            <tr>
	                                <th>メールアドレス<span class="red">※</span></th>
	                                <td><input type="text" name="mail" class="w300 init_focus" value="++[lcl_mail]" ><span class="ml20 init_focus">(例:○○○@○○○.com)</span></td>
	                            </tr>
	                            <tr class="tbl_line"><th><hr></th><td><hr></td></tr>
	                            
	                            <tr rowspan="3">
	                                <th>お届け先住所<span class="red">※</span></th>
	                                <td>
	                                	<span class="mr10 ">〒</span><input type="text" class="w100 init_focus" name="zipcode" maxlength="7" value="++[lcl_zipcode]" id="post_AjaxZip3" >
	                                	<input type="button"  onclick="btn_zipcode_click(); return false;"  value="住所自動入力"><span class="ml20">ハイフン(-)無しで入力してください。</span>
	                                </td>
	                                
	                            </tr>
	                            <tr>
	                            	<th></th>
	                                <td class="bt1 ptb25">
	                                	<input type="text" name="address" class="w600 init_focus" value="++[lcl_address]" >
	                                </td>
	                            </tr>
	                            <tr class="tbl_line"><th><hr></th><td><hr></td></tr>
	                            <tr>
	                                <th valign="top" class="contact_us_dt">お届け日時<span class="red">※</span></th>
	                                <td>
	                                	<input type="date" name="delivery_date" class="init_focus" min="++[lcl_delivery_min_date]" max="++[lcl_delivery_max_date]" value="++[lcl_delivery_date]" >
	                                	<input type="time" name="delivery_time" class="init_focus" min="08:00:00" max="18:00:00" step="900" value="++[lcl_delivery_time]" >
	                                	<span class="ml20">時間は午前8時～午後6時でご指定ください。</span>
	                                </td>
	                            </tr>
	                            <tr class="tbl_line"><th><hr></th><td><hr></td></tr>
	                            <tr>
	                                <th>TEL<span class="red">※</span></th>
	                                <td>
	                                	<input type="text" class="w300 init_focus" name="tel" value="++[lcl_tel]" ><span class="ml20"><br class="las" style="display:none;">ハイフン(-)無しで入力してください。 (例:0521234567)</span>
	                                </td>
	                            </tr>
	                            <tr class="tbl_line"><th><hr></th><td><hr></td></tr>
	                            <tr>
	                                <th valign="top" class="contact_us_dt">ご依頼事項があれば<br>ご記入ください</th>
	                                <td>
	                                	<textarea name ="note" class="w600" rows="3">++[lcl_note]</textarea>
	                                </td>
	                            </tr>
	                            
	                        </tbody></table>
	                    </div>
	                </div>
	                <div class="fix SubmitBtnArea">
                        <p><input type="button" class="reserve_button f-left" value="ご注文内容入力へ戻る" onclick="btnBack_Click(); return false;"  /></p>
                        <p><input type="submit" class="reserve_button f-right" value="入力情報の確認へ" /></p>
                    </div>
	            </form>
	        </div>

        </form>
    </div>
    

<footer id="footer">
        <div class="container">
            <p>c Copyright 2010 料理・仕出し ㈱ヒロメ All Rights Reserved.</p>
        </div>
</footer>
<!-- script -->
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../vendors/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <!-- vegas slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.4.4/vegas.min.js"></script>
    <!-- custom js -->
    <script src="../js/custom.js"></script>
<!--all終了-->
</div>
<!--all終了-->
</body>
</html>