@charset "Shift-jis";
/**********************************************************************
 +
 + システムの根幹部分の定義を行います。
 +
 **********************************************************************/

/**********************************************************************/
/*reset*/
/**********************************************************************/
* 
{
    margin:0;
    padding:0;
}
body 
{
    color:#333333;
    background:#FFFFFF;
    font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Osaka,sans-serif;
    font-size:78%;
    line-height:1.4;
}
h1, h2, h3, h4, h5, h6 
{
    font-size:100%;
}
table 
{
    font-size:100%;
    line-height:1.4;
    border-collapse:collapse;
    border-spacing:0;
}
th 
{
    text-align:left;
}
img 
{
    border:0;
    vertical-align:bottom;
}
ul li 
{
    list-style:none;
}
ol 
{
    padding-left:18px;
    *padding-left:24px;
    _padding-left:24px;
}
address 
{
    font-style:normal;
}
/**********************************************************************/
/*link setting*/
/**********************************************************************/
a:link 
{
    color:#333;
    text-decoration:underline;
}
a:visited 
{
    color:#333;
    text-decoration:underline;
}
a:hover 
{
    color:#333;
    text-decoration:none;
}

/**********************************************************************/
/*layout*/
/**********************************************************************/
#all 
{
    width:100%;
    text-align:center;
}
#head-line 
{
    width:100%;
    border-top:solid 5px #04a3db;
}
#head 
{
    width:960px;
    margin:0 auto;
    text-align:left;
    margin-top:0px;
   
}
#logoarea
{
    margin-right:10px;
    float:left;
}
#systemname
{
    width:740px;
    height:37px;
    background-image:url(../image/headbg.png);
    background-repeat:repeat-x;
    font-size:150%;
    font-weight:bold;
    color:#FFFFFF;
    text-align:right;
    padding-top:5px;
    padding-right:100px;
}
#companyname
{
    font-size:120%;
    font-weight:bold;
    padding-top:5px;
    color:#3e6330;
}
#systemtextarea
{
    padding-top:15px;
    padding-bottom:10px;
}
#p_logout
{
    width:80px;
    color:#FFFFFF;
     background-image:url(../image/menuicon/logout.png);
    background-repeat:no-repeat;
    background-position: 0px 6px;
    /*
    background-color:#CC3131;
    */
    margin-right:10px;
    padding:5px;
    text-align:right;
    text-decoration: none;
    float:right;
    border-radius: 5px;
}
#p_home
{
    width:70px;
    color:#FFFFFF;
    background-image:url(../image/menuicon/home.png);
    background-repeat:no-repeat;
    background-position: 0px 6px;
    /*
    background-color:#04A3DB;
    */
    margin-right:5px;
    padding:5px;
    text-align:center;
    text-decoration: none;
    float:right;
    border-radius: 5px;
}
#p_logintext
{
    margin-right:200px;
    float:right;
}
#p_head-under
{
    /* 案件対応に変更
    height:37px;
    */
    height:10px;
    background-image:url(../image/head-bg01.jpg);
    background-repeat:repeat-x;
}
#contents 
{
    /* 紹介ページが1140のためあわせる
    width:960px;
    */
	width: 100%;
    margin:0 auto;
    /*margin-top:20px;*/
}
#footer
{
    /* 案件対応に変更
    height:23px;
    margin-top:30px; 
    
    height:50px;
    background-image:url(../image/footer-bg01.png);
    background-repeat:repeat-x;
    color:#CCCCCC; */
}
#copy
{
    text-align:center;
    
    /* 案件対応用に変更
    padding-top:20px;
   */
   padding-top:18px;
}

.login_background
{
    /*background-image:url(../image/lgoin_back.png);*/
     height:790px; 
    margin-top:0px;
    background-size:contain;
    background-repeat:no-repeat;
     background-position: 0px 0px;
 }
 
.login_logo
{
    width:960px;
    height:100px;
    /* デザインにあわせて背景を白に */
    background-color:#FFFFFF;
 }
body
{
    background-color:#FFFFFF;
}

.header
{
    background-color:#000000;
    
}

#p_logo
{
    width:100px;
    color:#FFFFFF;
    /*
    background-color:#CC3131;
    */
    text-align:right;
    text-decoration: none;
    float:left;
    border-radius: 5px;
}

#p_logo2
{
    color:#FFFFFF;
    /*
    background-color:#CC3131;
    */
    text-align:right;
    text-decoration: none;
    float:left;
    border-radius: 5px;
}

#p_logo3
{
    width:100px;
    color:#FFFFFF;
    margin-top:5px;
    text-align:right;
    text-decoration: none;
    float:left;
    border-radius: 5px;
}

#p_logo_kari
{
    width:0px;
}

/* div#head p#auth_img1, */
/* div#head p#auth_img2, */
div#head p#company_name,
div#head p#user_name,
div#head p.auth_img
{
    float:left;
    height:23px;
    margin-left:5px;
    vertical-align:middle;
	 color:#FFFFFF;
	 margin-top:8px;
}

div#head p#user_name
{
	 margin-top:6px;
}

div#head p#user_name
{
    width:180px;
    margin-left:5px;
    line-height:20px;
}
div#head p.auth_img
{
	display:none;
	margin-top:5px;
}
div#head p#auth_img0.auth_img0
{
	display:inline;
}
div#head p#auth_img1.auth_img1
{
	display:inline;
}
div#head p#auth_img2.auth_img2
{
	display:inline;
}
div#head p#auth_img3.auth_img3
{
	display:inline;
}

div#head p#auth_img2.auth_img4
{
	display:inline;
}

.menu
{
    width:1000px;
    height:400px;
    margin-left:30px;
    /*background-color:#D8D8D8;*/
}

.menu div
{
    margin-top: 80px;
}
@media (max-width: 768px)	{
	.link_bottom {
    display: none!important;
}
}